<div class="card">
  <div class="card-header">
    {{ pageTitle }}
  </div>
  <div class="card-body">
    Filter by:
    <input type="text" [(ngModel)]="listFilter" />
    Filtered by:{{ listFilter }}
    <table class="table" *ngIf="products && products.length > 0">
      <thead>
        <tr>
          <th scope="col">
            <button type="button" class="btn btn-primary" (click)="toggleImage()">
              {{ showImage ? 'Hide Product Image' : 'Show Product Image' }}
            </button>
          </th>
          <th scope="col">Product</th>
          <th scope="col">Code</th>
          <th scope="col">Available</th>
          <th scope="col">Price</th>
          <th scope="col">5 Star Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let product of filteredProducts">
          <td><img *ngIf="showImage" [src]="product.imageUrl" alt="product-image" [style.width.px]="imageWidth" /></td>
          <td>{{ product.productName }}</td>
          <td>{{ product.productCode | lowercase | convertToSpaces : '-'}}</td>
          <td>{{ product.releaseDate }}</td>
          <td>{{ product.price | currency: 'UGX':'symbol':'1.0-0' }}</td>
          <td>{{ product.starRating }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
