<div class="card">
  <div class="card-header">
    {{pageTitle}}
  </div>
  <div class="card-body">
    Filter by:
    <input type="text" />
    Filtered by:
    <table class="table">
      <thead>
        <tr>
          <th scope="col">
            <button type="button" class="btn btn-primary">Show product image</button>
          </th>
          <th scope="col">Product</th>
          <th scope="col">Code</th>
          <th scope="col">Available</th>
          <th scope="col">Price</th>
          <th scope="col">5 Star Rating</th>
        </tr>
      </thead>
      <tbody></tbody>
    </table>
  </div>
</div>
